<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="Staff/base::Layout(~{::section})"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section>
    <h2 class="text-center mb-5">My Project</h2>
    <table class="table table-light table-striped mr-10 ml-10">
        <thead>
        <tr>
            <th scope="col">Project Name</th>
            <th scope="col">Project Description</th>
            <th scope="col">Project Manager</th>


        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${project.projectName}"></td>

            <td th:text="${project.projectDescription}"></td>
            <td th:text="${project.manager.name}"></td>



        </tr>
        </tbody>
    </table>
</section>
</body>
</html>