<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="HR/base::Layout(~{::section})"
      xmlns="http://www.w3.org/1999/html">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Modify Staff</title>
</head>
<body>
<!--<section>-->
<!--  <div class="card mr-3 mt-3">-->
<!--    <div class="card-body">-->
<!--      <h1 class="text-center mt-5">Employee Details</h1>-->
<!--      <div class="container-fluid mt-1">-->
<!--        <table class="table">-->
<!--          <thead>-->
<!--          <tr>-->
<!--            <th scope="col">Name</th>-->
<!--            <th scope="col">Father Name</th>-->
<!--            <th scope="col">Email</th>-->
<!--            <th scope="col">Role</th>-->
<!--            <th scope="col">Date of Birth</th>-->
<!--          </tr>-->


<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->
</body>
</html>